﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>VN EXPRESS</title>
    <link href="css/my_css.css" rel="stylesheet" />
</head>
<body>
    <div class="topbar">
        <div class="mainbar">
            <div class="contact">
                <a>(012)124124124142</a>
                <a>(012)124124124142</a>
                <button>Liên Hệ Quảng cáo</button>
                <button>like</button>
                <button>folow</button>
                <button>youtube</button>
            </div>
            <div class="login">
                <button>Đăng nhập</button>
                <button>Đăng kí</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>
    <div class="main_container">
        <div class="baner_container">
            <img src="~/Content/image/Logo_Vnexpress.png" />
            <img src="~/Content/image/banner-ads-1.png" />
            <img src="~/Content/image/banner-ads-2.png" />
        </div>
    </div>
</body>
</html>
